.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  color: white;
  cursor: pointer;
}

.header_logo {
  width: 100px;
  height: 100px;
  display: flex;
  flex: 0.2;
  margin-left: 50px;
}

.header_topics {
  padding: 0 20px;
  display: flex;
  flex: 1;
  color: #555555;
}

.tabs-style{
  color: black;
  font-size: 18px;
  
}
.tabs-style > :visited {
  color: red;
}
.active {
  color: #555555;
  font-size: 22px;
  background-color: orange;
}

.header_search {
  display: flex;
  background-color: #555555;
  margin-right: 50px;
  padding: 2px 30px;
  text-align: center;
  color: gray;
  border: 1px gray solid;
  border-radius: 6px;
}

.header_search > .MuiSvgIcon-root {
  margin-left: auto;
  margin-top: 5px;
}
.header_search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  min-width: 10vw;
}

